

.container {display:flex; flex-direction:row; }

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
 
 
 html {
    font-size: 16px; /*changed font style*/
 }

 :root{
    font-family: 'Macondo', cursive;
    padding-top: 2rem;
    background-color: #848688;
 }


 a {
    text-decoration: none;
    color: #000;
 }



.container {
   max-width: 1440px;
   width: 90%;
   margin: auto;
   min-height: 100vh;
   background-color: #696b6d;
}

/*  Header */

header {
    background-color:  #696b6d; 
    height: 2em;
    font-size: 2rem;
    display:flex;
    justify-content: flex-start;
    align-items: center; /* align vertically */
    border-bottom: 1px solid #ccc;
    padding: 2rem;
}   

nav {
    flex-basis: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}

header form {
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-end;
    padding-top: 3rem;
}

header input {
    width: 10rem;
    height: 2.5rem;
    align-items: baseline;
}

header button {
    width: 7rem;
    height: 2.5rem;
    background-color: chartreuse;
    color: #000;
}

 h1 {
    font-size: 2em;
    margin-bottom: 2rem;
    text-align: center;
}

/*  Movies View */

   .movie-image {
    margin: 100px;
}   

.movie-decription{
    text-align: center;
    box-sizing: border-box;
}
.movie-details li {
    display:inline-block;
    text-align: center;
    font-size: medium;
}

.movie-header {
    display: flex;
    justify-content: space-between;
}

.movie-header ul {
    display: flex;
    list-style: none;
}

.movie-header ul li {
    border: 1px solid #848688;
    font-weight: 400;
    padding: .2rem .7rem .2rem .7rem;
    margin: .5rem;
    border-radius: 1rem;
}

.movie-details li::before {
    content: '\00a0\2022\00a0\00a0';
    color:#999;
    font-size:16px;
}

.movie-details li:first-child:before {
    content: '';
}

.movie-info-container {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    height: 371px; 
    margin: 6.5rem 0 8.5rem 0;
    
}

.movie-list {
    padding: 1%;
}

.movie-container {
   margin-bottom: 1rem;
   padding: 1%;
}

.movie-container:nth-child(odd) {
    border: 1px solid #ccc;
    background-color: #f8f9fa;
}

/* Reviews */
   
.review-container {
    display:inline;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0.5;
    scroll-behavior: smooth;
}

.review-list {
    margin: 0 .5rem 1rem 0;
    overflow-y: auto; /* shows vertical scroll if needed */
}   

.review-list ul{
    list-style-type: none;
}

.review-form {
    background-color: #89c7cf;
    padding: 2%;
    width: 98%;
}

.review-form form {
   display: flex;
   flex-direction: column;
}

.review-form label {
    font-weight: bold;
}

.review {
    padding: 0 0 .5rem 0;
    border: #000;
}
.review-list .star {
    pointer-events: none;
}

/* Star Component */

.star {
    display: flex;
}

.star input[type="radio"] {
    display: none;
}

.star-icon {
    cursor: pointer;
    transition: color 500ms;
}